<h2>Edit <%= @recipe.name %></h2>
<ul>
  <% @recipe.recipe_ingredients.each() do |ingredient|%>
  <li><%= ingredient.ingredient_id%></li>
  <% end %>
</ul>

<ul>
  <% @recipe.ingredients.each() do |ingredient|%>
  <li><%= ingredient.name%></li>
  <% end %>
</ul>

<form action="/recipes/<%= @recipe.id %>/edit" method="post">
  <label for="instructions">Add Instructions</label>
  <input type="text" name="instructions" class="form-control">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form action="/recipes/<%= @recipe.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>Add Ingredient</p>
  <div class="form-group">
    <label for="ingredient">Ingredient:</label>
    <select name="ingredient">
      <% @ingredients.each do |ingredient| %>
      <option value="<%= ingredient.id %>"><%=ingredient.name %></option>
      <% end %>
    </select>
    <label for="amount">Amount:</label>
    <input type="text" name="amount">
    <label for="unit">Unit:</label>
    <input type="text" name="unit">
  </div>
  <button type="submit" class="btn btn-info">Add</button>
</form>

<form action="/recipes/ingredients/new" method="post">
  <label for="new_ingredient_name">Add a new ingredient</label>
  <input type="text" name="new_ingredient_name" class="form-control">
  <button type="submit" name="button">Add</button>
</form>
